/* for devices.html */

#devicestable th {
  padding-top: 30px;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--theme-color-dark);
}

.devclick {
  text-decoration: None;
  color: var(--theme-color-primary);
}

.devclick:hover {
  text-decoration: underline;
}

/* for dev_idv.html */

#dev-displaybox {
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#dev-card {
  width: 250px;
  min-width: 250px;
  flex-basis: auto;
}

#dev-name {
  margin: 0;
  height: 100px;
}

#dev-right {
  margin-left: 50px;
  flex: 1 1 auto;
}

#msgs-card {
  max-height: 250px;
  min-width: 300px;
  overflow-y: scroll;
}

#vars-displaybox {
  flex: 0 1 auto;
  flex-flow: row wrap;
  align-content: flex-start;
  margin: 0 -10px;
  max-width: inherit;
}

.var-card {
  flex: 0 1 auto;
  width: 240px;
  height: 150px;
  margin: 0 10px 20px;
  cursor: pointer;
}

.widget-card {
  flex: 0 1 auto;
  width: 600px;
  height: 300px;
  margin: 0 10px 20px;
  cursor: pointer;
  resize: both;
  overflow: auto;
}

.var-card header {
  height: 100px;
}

#var-new {
  color: var(--theme-color-medium);
  border: 2px dashed var(--theme-color-medium);
  flex-flow: column wrap;
  align-items: center;
}

#var-new:hover  {
  color: var(--theme-color-medium-shade);
  border-color: var(--theme-color-medium-shade);
}

#varnew-icon {
  margin-top: 10px;
  background-color: var(--theme-color-medium);
  color: var(--theme-text-light);
}

#var-new:hover #varnew-icon {
  background-color: var(--theme-color-medium-shade);
}

#varnew-text {
  margin: 8px auto 0px;
}


/* for new variable modal*/
#var-name {
  background-color: transparent;
  text-align: center;
}