{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="../static/css/widgets.css">
{% endblock %}

{% block logo %}
<a href="{{ url_for('user.devicespage') }}" class="w3-display-left">
  <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo-image">
</a>
{% endblock %}

{% block navbar %}
<ul>
  <li><a href="{{ url_for('user.devicespage') }}">Devices</a></li>
  <li><a href="{{ url_for('user.datapage') }}" class="active">Dashboard</a></li>
</ul>
{% endblock %}

{% block account %}
<a href="{{ url_for('user.accountpage') }}" class="w3-display-right">
  <img src="{{ url_for('static', filename='img/default/avatar.png') }}" class="account-image round-button">
</a>
{% endblock %}

{% block subheader %}
<header class="subheader text-light w3-container">
  <div>
    {% block title %}Data{% endblock %}
    <div  style="position: relative;">
      <a href="#" class="round-button float-button">
        <i class="fa fa-plus float-icon"></i>
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
  <div id="widgets" class="displaybox">

    
    <div class="widget-default w3-card">
      <div class="w3-container"> 
        <canvas id="myChart" width="100%" height="100%"></canvas>
        <script> var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['Phase 1 power', 'Phase 1 power'],
    datasets: [ '340', '259'    ]
  }
});
</script>
      </div>        
    </div>
  </div>
  
{% endblock %}