{% extends "_layout.html" %}

{% block subheader %}
<header class="subheader text-light w3-container">
    <div>
      <a href="{{ url_for('main.devices') }}" class="text-hover-darker"><i class="fa fa-angle-left"></i> Devices</a>
    </div>
  </header>
{% endblock %}

{% block app_content %}
<div class="w3-responsive displaybox-sm">
    <div class="flex-group-x" id="dev-displaybox">
      <form class="w3-white w3-card" id="dev-form">
        <header class="w3-display-container bg-primary-grad" id="dev-name">
          <div class="text-light displaybox-lg w3-display-bottomleft">
            <h4>{{ device.dev_name }}</h4>
          </div>
        </header>
        <div class="w3-container">
          <label>Sigfox ID</label>
          <input class="w3-input" type="text" value="{{ device.sigfox_id }}">
  
          <label>Last Seen</label>
          <input class="w3-input" type="text" value="{{ device.lastseen }}" disabled>
  
        </div>
      </form>
  
      <div class="flex-group-y" id="dev-right">
        <div class="w3-card w3-white" id="msgs-card">
          <header class="tableheader">
            <h4>Received Messages</h4>
          </header>
          <table class="w3-table w3-bordered" id="messagestable">
            <thead>
              <tr>
                <th>Time</th>
                <th>Raw Data</th>
              </tr>
            </thead>
            {% if messages|length %}
            {% for message in messages %}
            <tr>
              <td>{{ message.time }}</td>
              <td>{{ message.data }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="2">No Messages to display</td>
            </tr>
            {% endif%}
          </table>
          <footer>
  
          </footer>
        </div>
  
        <div class="vars-card">
          <header class="tableheader">
            <h4>Variables</h4>
          </header>
          <div class="flex-container" id="vars-displaybox">
            {% for variable in variables %}
            <div class="var-card w3-card">
            <a href="{{ url_for('main.variable', _id=variable._id) }}">
              <header class="w3-display-container bg-secondary-grad">
                <div class="text-light displaybox-lg w3-display-bottomleft">
                  <h4>{{ variable.var_name }} [{{ variable.unit }}]</h4>
                </div>
              </header>
            </a>
            </div>
            {% endfor %}
  
            <div class="var-card w3-display-container" id="var-new"
              onclick="document.getElementById('modal-newvar').style.display='block'">
              <div class="w3-display-middle">
                <div class="w3-center">
                  <a href="{{ url_for('main.add_variable', dev_id=device._id) }}" class="centered round-button" id="varnew-icon">
                    <i class="fa fa-plus"></i>
                  </a>
                  <h6>Add Variable</h6>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}