{% extends "_layout.html" %}

{% block subheader %}
<header class="subheader text-light w3-container">
    <div>
        {{ title }}
        <div style="position: relative;">
            <a href="{{ url_for('main.add_device') }}" class="round-button float-button" id="newdev_btn">
                <i class="fa fa-plus float-icon"></i>
            </a>
        </div>
    </div>
</header>
{% endblock %}

{% block app_content %}
<div class="w3-responsive displaybox-sm" id="devices-box">
    <table class="w3-table w3-card w3-bordered w3-hoverable" id="devicestable">
        <thead>
            <tr>
                <th><input type="checkbox" name="selectall" onchange="selectAll(this)" /></th>
                <th>Name</th>
                <th>Device ID</th>
                <th>Last Activity</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% if devices|length %}
        {% for device in devices %}
        <tr class="w3-hover-light-grey">
            <td><input type="checkbox" name="cb{{ device.sigfox_id}}" /></td>
            <td><a href="{{ url_for('main.device_idv', _id=device._id) }}" class="devclick">{{ device.dev_name }}</a></td>
            <td>{{ device.sigfox_id }}</td>
            <td>{{ device.lastseen }}</td>
            <td>
                <a href="#">
                    <i class="fa fa-pencil"></i>
                </a>
                <a href="{{ url_for('main.delete_device', _id=device._id) }}">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td></td>
            <td colspan="4">No devices to display - <a href="{{ url_for('main.add_device') }}">Add a new device</a></td>
        </tr>
        {% endif%}
    </table>
</div>
{% endblock %}