<!doctype html>
<html lang="en-us">

<head>
  {% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.js') }}" defer=""></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/w3.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>ShowMeSigfox | {% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body>
  <header class="headermain text-light w3-display-container">
    <a href="{{ url_for('user.devicespage') }}" class="w3-display-left">
      <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo-image">
    </a>

    <span class="navbar w3-display-middle ">
      <ul>
        <li><a href="{{ url_for('user.devicespage') }}" {% if name==self.title() %} class="active" {% endif %}>Devices</a></li>
        <li><a href="{{ url_for('user.datapage') }}" {% if name==self.title() %} class="active" {% endif %}>Data</a></li>
      </ul>
    </span>

    <!-- TODO: insert user icon -->

  </header>
  <div class="text-light">{% block subheader %}{% endblock %}</div>  

  <div id="content">{% block content %}{% endblock %}</div>

  <footer class="footermain text-light">
    &copy; 2021 ShowMeSigfox | Anya Nutt
  </footer>
</body>

</html>